@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.nav {
  font-family: "Poppins", sans-serif;
  background: #047a6b;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  a,
  a:visited,
  a:hover,
  a:link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    margin: 0 2rem;
  }
  a::after {
    content: "";
    left: 0;
    bottom: -3px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ef0;
    border-radius: 4rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 0.3s;
  }
  a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}
